html, body {
margin: 0;
padding: 0;
}

body {
font: 11px/16px Arial,Tahoma,Helvetica,Verdana,sans-serif;
}

div#header {
background-color: #444;
color: white;
font-weight: bold;
letter-spacing: 0.1em;
border-bottom-width: 3px;
border-bottom-style: solid;
border-bottom-color: #87AFC1;
}

#header {
margin: 0;
padding: 0 10px;
min-height: 2em;
line-height: 2;
}

fieldset {
display: block;
-webkit-margin-start: 2px;
-webkit-margin-end: 2px;
-webkit-padding-before: 0.35em;
-webkit-padding-start: 0.75em;
-webkit-padding-end: 0.75em;
-webkit-padding-after: 0.625em;
border: 2px groove threedface;
}

.quick-search fieldset {
border: none;
margin: 0;
padding: 0;
}

#quick-search fieldset {
float: right;
}

.quick-search legend {
display: none;
}

.quick-search-submit {
display: none;
}

h1.pagetitle {
font-size: 2em;
}