#{extends 'mediaman.html' /}
#{set title:"Global Timeline"  /}
#{set nickname:username /}
<form action="@{sendMessage()}" method="POST">
    <div><label for="user">Enter your Message :</label></div>
    <div><textarea name="messageText" id="messageText"></textarea></div>
    </br />
    <label for="groups">Enter the Message Groups :</label>
    <input type="text" name="messageGroups" id="messageGroups">
    <br />
    <input type="submit" value="send..." />
</form>

#{if flash.error}
	<h2>${flash.error}</h2>
#{/if}

#{list items:currentMessages, as:'entity'}
        <hr/>
        <div class="message">
            <div class="message-text">
                %{
                   message = entity.getMessagetext(true);
                }%
            	${message.raw()}
            </div>
            
            <div class="message-metadata">
                <span class="message-author">
                        
                </span>
                <span class="message-date">
                        
                </span>
                <div class="message-groups">
                        
                </div>
            </div>
        </div>
        
#{/list}


		

