#{extends 'mediaman.html' /}
#{set title:"Global Timeline"  /}
#{set nickname:username /}
<form action="@{sendMessage()}" method="POST" id="message-form">
    <ul>
	    <li>
		    <textarea name="messageText" id="messageText" placeholder="What are you doing?"></textarea>
	    </li>
	    <!-- 
	    <li>
		    <label for="groups">Groups :</label>
		    <input type="text" name="messageGroups" id="messageGroups">
		</li>
		 -->
	    <li>
	        <input type="submit" value="Send..." />
	    </li>
    </ul>
</form>

#{if flash.error}
	<h2>${flash.error}</h2>
#{/if}

#{list items:currentMessages, as:'entity'}
<div class="message">
    <div class="message-text">
    	${entity.messagetext}
    </div>
    
    <ul class="message-metadata">
        <li class="message-author">
            by ${entity.from.displayname}
        </li>
        <li class="message-date" title="${entity.postdate}">
            | on <a href="@{viewMessage(entity.id)}">${entity.postdate}</a>
        </li>
        <li class="message-groups">
            #{list items:entity.groups, as:grp}
                ${grp.name}
            #{/list}
        </li>
    </ul>
</div>
        
#{/list}


		

