<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="imagetoolbar" content="false" />
	<meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="apple-touch-startup-image" href="startup.png" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>#{get 'title' /}</title>
	<link rel="stylesheet" href="@{'/public/css/min/reset.css'}" />
	<link rel="stylesheet" href="@{'/public/css/text.css'}" />
	<link rel="stylesheet" href="@{'/public/css/960_24_col.css'}" />
	<link rel="stylesheet" href="@{'/public/css/demo.css'}" />
</head>
<body>
    <div id="header" class="sectionbottom ">
		#{if session.get(controllers.Authentication.USER_ID)}
		<div>
			<ul class="navigation"> 
			  <li><a href="@{GlobalTimeline.timeline()}">Home</a></li>
			  <li><a href="@{User.profile(nickname)}">My Profile</a></li>
			  <li><a href="@{Authentication.logout()}">Logout</a></li>
			</ul>
		</div>
        #{/if}
    </div>

	<div class="contents box">
		<h1>#{get 'title' /}</h1>
		#{doLayout /} 
    </div>
</body>
</html>
