<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="imagetoolbar" content="false" />
<meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="apple-touch-startup-image" href="startup.png" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>#{get 'title' /}</title>
<link href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold" rel="stylesheet" type="text/css" >
<link rel="stylesheet" href="@{'/public/css/reset.css'}" />
<link rel="stylesheet" href="@{'/public/css/text.css'}" />
<link rel="stylesheet" href="@{'/public/css/960_24_col.css'}" />
<link rel="stylesheet" href="@{'/public/css/demo.css'}" />
#{get 'moreStyles' /}
<script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
#{get 'moreScripts' /}
</head>
<body>
<div class="container_24">
  <div class="grid_24 box header">&nbsp;</div>
  <div class="grid_5 block box">
  <form id="quick-search" class="quick-search" method="get" action="@{search.search()}">
        <fieldset>
            <legend>Quick Search</legend>
            <input class="quick-search-query" id="quick-search-query" type="search" accesskey="q" autocomplete="off" name="queryString" size="32" results="10" placeholder="Search">
            <input class="quick-search-submit" id="quick-search-submit" type="submit" value="Search">
            <div class="aui-dd-parent quick-nav-drop-down"><!-- Quick nav appears here --></div>
        </fieldset>
        <fieldset class="hidden parameters">
            <input type="hidden" id="quickNavEnabled" value="true">
                    </fieldset>
    </form>
    <ul>
      <li><a href="@{GlobalTimeline.timeline()}">Home</a></li>
      <li><a href="@{User.profile(nickname)}">My Profile</a></li>
      <li><a href="@{User.edit(nickname)}">Edit Profile</a></li>
      <li><a href="@{Authentication.logout()}">Logout</a></li>
    </ul>
  </div>
  <div class="grid_19 contents box">
    <h1>#{get 'title' /}</h1>
    #{doLayout /} </div>
  <div class="clear"></div>
</div>
</body>
</html>